/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color: #b5a5a5;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

#loginform{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  margin: 100px auto;
  border: 2px solid #7a6e6e;
  border-radius: 10px;
  padding: 20px;
}

#loginform input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a8a3a3;
  margin-bottom: 10px;
  background-color: #f6e8e8a4;
}

#loginform button{
  border-radius: 8px;
  margin-top: 10px;
  background-color: rgba(135, 80, 14, 0.515);
  border: 1px solid #504141;
  width:fit-content;
  padding: 10px 20px;
  align-self: center;
}